.common-inner{
    width: 960px;
    margin: 0 auto;
}
.photo-work{
    display: flex;
}
.photo-work__image{
    width: 480px;
    margin-right: 20px;
}
.photo-work__text{
    font-size: 1.6rem;
}

.page-header {
    background-color: #5A442A;
  }
  
  .page-header__inner {
    padding: 24px 0;
  }
  
  .page-header__title {
    color: #fff;
    /* line-heightを1.0に指定することで上下に余計な隙間を持たせない */
    line-height: 1.0;
    font-weight: normal;
  }
  
  .page-header__title .large {
    font-size: 3.2rem;
  }
  
  .page-header__title .small {
    font-size: 2rem;
  }
  
  .page-header__main-visual img {
    /* メインビジュアルの画像は横幅に応じて可変するので幅100%指定 */
    width: 100%;
  }
  .section-header{
      margin-bottom: 30px;
  }

  .section-header__title{
      line-height: 1;
      font-weight: 600;
  }

  .section-header__title .large{
      font-size: 3.6rem;
  }

  .section-header__title .small{
    font-size: 2.4rem;
}

  .old-works{
      line-height: 1.0;
      text-align: center;
      font-weight: 600;
  }

  .old-works a{
      color: #707070;
      text-decoration: none;
      border-bottom: 2px solid;
  }

  .old-works a:hover{
      border-bottom: none;
  }

  .old-works .large{
      font-size: 3.6rem;
  }

  .old-works .small{
      font-size: 2.4rem;
  }
  .work-list{
      margin-bottom: 50px;
  }

  .work-list__item:not(:last-child){
      margin-bottom: 30px;
  }

  html{
      font-size:62.5% ;
  }
  .main-content{
    background-color: rgb(123, 148, 11);
}
.page-footer{
    padding: 22px 0;
    background-color: #5A442A;
}

.page-footer p{
    font-size: 1.6rem;
    line-height: 1.0;
    text-align: center;
    color: #fff;
}
